body {
    background-image: linear-gradient(90deg, navy, purple, navy);
}

.bid_list {
    list-style: none;
    border: 1px solid yellow;
    color: orange;
    padding-inline-start: 0px;
}

.bid {
    border: 1px solid orange;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.bid::before {
    content: attr(data-value);
    display: inline-block;
    width: 7rem;
    padding: 1rem 0.3rem;
    font-style: italic;
    text-align: center;
}